.main {
  display: grid;
  background-color: #b4b4ff;
  border: 1px solid #b4b4ff;
  grid-gap: 1px;
  .rowMain {
    padding: 20px 10px;
  }

  &.hiddenViewMode {
    background-color: darken(#e0e0e0, 10);
    border-color: darken(#e0e0e0, 10);
  }

  > div > div {
    aspect-ratio: 1;
  }
}