.shiphorizontal {
  display: flex;
}

.shipvertical {
  display: block;
}

.isPlacedOnGrid {
  position: absolute;
  top: 0;
  outline: 2px solid #00f;
  z-index: 1;
  > [class*='Cell_cell'] {
    background-color: rgba(0,0,255,.05);
    border-bottom: 0;
  }
}

.shipCell {
  background-color: #fff;
  border: 1px solid #b4b4ff;
  cursor: move;
  &.shipCellDisabled {
    border-color: #e0e0e0;
    cursor: not-allowed;
  }

  &.inGrid {
    border: none;
    background: transparent;
  }
}

.hiddenViewMode {
  display: none;
}

.sunken {
  outline: 1px solid crimson;
}