.actionBar {
  display: flex;
  justify-content: center;
  margin-top: 30px;

  button {
    margin-left: 6px;
    border: 2px solid darken(#00f, 20);;
    background-color: white;
    color: black;
    padding: 6px 10px;
    font-size: 16px;

    &.start {
      border-color: #4CAF50;
      color: green;
    }
  }
}