.cell {
  background-color: #fff;
}

.positionRelative {
  position: relative;
}

.showDropPlaceholder {
  border: 2px solid forestgreen;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
}