.cell {
  background-color: #fff;

  .cellButton {
    padding: 0;
    border: 0;
    height: 100%;
    width: 100%;
    background: none;
    cursor: pointer;
    position: absolute;
    z-index: 1;
    &:hover {
      border: 1px solid red;
    }
    &:active {
      outline: none;
    }
  }

  .missed {
    background-color: #fafad2;
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 22px;
    color: #333;
  }
  
  &.hit {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 2;

  }

  .cellHit {
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 22px;
    color: crimson;
  }

  .columnMarker, .rowMarker {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    font-size: 80%;
    height: 100%;
    width: 100%;
    color: darken(#00f, 20);
    top: 0;
    left: 0;
  }

  .columnMarker.rowMarker {
    .columnIndexMarker, .rowIndexMarker {
      position: absolute;
      display: flex;
      justify-content: center;
      align-items: center;
      height: 100%;
      width: 100%;
    }
  }
}

.positionRelative {
  position: relative;
}

.showDropPlaceholder {
  outline: 2px dashed darken(#00f, 20);
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
}
